dataset/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
cropenv/
.env
app/static/uploads/*
!app/static/uploads/.gitkeep
.DS_Store
krishisetu.db
scan_history.json
model/mobilenet_finetuned.keras
model/cnn_scratch_best.keras
*.keras
*.h5
plantvillage-dataset.zip
*.zip
